crop_model.h5 filter=lfs diff=lfs merge=lfs -text
corn_model.h5 filter=lfs diff=lfs merge=lfs -text
wheat_model.h5 filter=lfs diff=lfs merge=lfs -text
rice_model.h5 filter=lfs diff=lfs merge=lfs -text
potato_model.h5 filter=lfs diff=lfs merge=lfs -text
